html, body {
    height: 100%;
    width: 100%;
    background-color: slategray;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.content {
    flex-grow: 1;
}

.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: slategray;
    color: white;
    padding-bottom: 10px;
}

.trending h3 {
    text-align: center;
}

.trending-buttons {
    align-self: center;
}

.trending button {
    border: 3px solid black;
    background-color: lightskyblue;
    color: black;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 5px;
}

.trending button:hover {
    background-color: rgb(92, 142, 161);
}

.trending-gifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.trending-gifs img {
    border: 5px solid black;
    border-radius: 10px;

}

.search {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-bottom: 5px;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* flex-wrap: wrap; */
}

.input {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.search input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 5px;
}

label {
    font-size: 30px;
    font-weight: bold;
}

.search button {
    border: 3px solid black;
    background-color: rgb(0, 99, 0);
    color: white;
    border-radius: 10px;
    /* align-self: center;
    margin-bottom: 5px; */
}

.search button:hover {
    background-color: rgb(0, 75, 0);
}

.search-gifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.search-gifs img {
    border: 3px solid black;
    border-radius: 10px;

}

footer {
    display: flex;
    flex-direction: row;
    background-color: #121119;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
}